* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  margin: 1.3em;
}

h1 {
  text-align: center;
  margin    : 1.3em 0;
}

li {
  list-style   : none;
  margin-bottom: 1em;
}

button {
  margin-left: .8em;
  background : rgb(32, 173, 32);
  border     : none;
  color      : white;
  padding    : .6em;
  width      : 4em;
}

input{
  padding: .4em;
}